*{
    margin: 0;
    padding: 0;
}
body{
    padding: 0;
    margin: 0;
    font-family:'Roboto Condensed', sans-serif;
}
#head-section{
    background-image: url(images/donation9.jpg);
    
    background-repeat: no-repeat;
    background-size: cover;
    height: 650px;
    

}
.head-body{
    padding-top: 130px;
    text-align: center;

}
.head-body h1{
    color:white;
    font-size: 60px;
    
   
}
.head-body p{
    margin-top: 30px;
    margin-bottom: 40px;
    color:white;
    font-size: 20px;
    font-weight: 500;
    
}
.head-body a{
    text-decoration: none;
    color: white;
    background-color: orangered;
    padding: 15px;
    border-radius: 5px;
    font-size: 23px;
    
}

#donet{
    margin-top: 70px;
    margin-bottom: 100px;
}
.donet-body{
    text-align: center;
}
.donet-body h1{
    color:rgb(6, 6, 6);
    font-size: 60px;
 
}
.donet-body p{
    margin:30px;
    font-size: 20px;
    font-weight: 500;
    
}
.donate-amount{
    margin-top: 50px;
    margin-bottom: 50px;
}
.donate-amount span{
    margin:0 20px;
    background-color: gainsboro;
    padding: 15px;
    font-size: 20px;
    font-weight: 600;

}
.donet-body input[type=text]{
    border:none;
    border-bottom: 1px solid black;
    margin-bottom: 40px;
    padding-bottom: 20px;
    width: 500px;
    text-align: center;
    font-size: 20px;
    color: rgb(3, 3, 3);
}
input::placeholder{
    color: rgb(3, 3, 3);
    font-size: 20px;
}
.donet-body a{
    text-decoration: none;
    color: white;
    background-color: rgb(254, 73, 7);
    padding: 15px;
    border-radius: 5px;
    font-size: 23px;
}
#donet-plan{
    margin-bottom: 70px;
}
.donet-plan-body{
    text-align: center;
}
.donet-plan-body h1{
    color:rgb(6, 6, 6);
    font-size: 60px;
}
.donet-plan-body p{
    margin:30px;
    font-size: 20px;
    font-weight: 500;
}
.donet-plan-mission{
    display: flex;
    margin-top: 50px;
    margin-left: 10%;
    margin-right: 5%;
}
.mission-category{
    width: 25%;
    margin-left: 5%;
    padding: 15px;
    padding-top: 50px;

}
.mission-category h1{
    margin-top: 20px;
}
.mission-category p{
   margin-top: 20px;
   text-align: justify;
}
.first-mission{

    background-color: rgb(196, 196, 186);
    
}
.secoend-mission{
    background-color: rgb(179, 212, 212);
    
}
.third-mission{
    background-color: rgb(236, 211, 173);
}
#about-donation{
   margin: 5% 0%;
}
.about-donation-boxshadow{
    margin: 5%;
    padding: 50px;
    box-shadow: 10px 10px 15px black;
}
.about-donation-body{
    margin:5% 10%;
}
.about-donation-body h1{
    color:rgb(6, 6, 6);
    font-size: 60px;
}
.about-donation-body p{
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 20px;
    font-weight: 500;
}
.about-donation-body button{
    text-decoration: none;
    color: white;
    background-color: rgb(254, 73, 7);
    padding: 15px;
    border-radius: 5px;
    font-size: 23px;
}
.about-donation-img{
    display: flex;
    margin-left: 150px;
    
}
.about-donation-img img{
    width:500px;
    margin-right: 30px;
    box-shadow: 10px 10px 10px black;

}